#clientForm {
    margin-top: -20px;
    .clientForm-action-buttons {
        position:absolute;
        right:15px;
        top: 60px;
    }
    .clientForm-group {
        overflow-x:hidden;
        overflow-y:scroll;
        height:550px;
    }
    .client-name {
        width:100%;
        .name {
            width:80%;
            display:inline-block;
        }
        .dealer {
            text-align:center;
            width:5%;
            display:inline-block;
        }
        .agent {
            text-align:center;
            width:5%;
            display:inline-block;
        }
    }
    .client-form-pagination {
        text-align:center;
        width: 100%;
        margin-bottom: 15px;
       
    }
}