<!DOCTYPE html>
<html lang="en">
<head>
    <script src="~/wwwroot/src/scripts/jquery-3.1.1.min.js"></script>
    <script src="~/wwwroot/src/scripts/bootstrap.min.js"></script>
    <link rel="stylesheet" href="~/wwwroot/styles/bootstrap.min.css" />
    <link rel="stylesheet" href="~/wwwroot/styles/main.min.css" />
</head>
<body ng-app="iclartWeb">
 
    @RenderPage("Header.cshtml")
   
    <div class="container-fluid content">
        <ui-view></ui-view>
    </div>

      
    @* JS Files *@
    <script src="~/wwwroot/src/scripts/angular.min.js"></script>
    <script src="~/wwwroot/src/scripts/angular-ui-router.js"></script>

    @* Common JS Files *@
    <script src="~/wwwroot/src/common/app.js"></script>
    <script src="~/wwwroot/src/common/app.routes.js"></script>

    @* Angular Controllers *@
    <script src="~/wwwroot/src/scripts/components.js"></script>

    @* Angular Services *@
    <script src="~/wwwroot/src/scripts/services.js"></script>

</body>
</html>